<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Description" content="twitter bot" />
<style type="text/css">
p {
	text-indent: 2em;
}

h2{
border-left:1.4em solid #338000;
font-size:20pt;
padding-left:0.3em;
}
</style>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1999219-8");
pageTracker._trackPageview();
} catch(err) {}</script>

<title>twitter bot</title>
</head>
<body style="margin:auto;width:85%">
<h1 style="text-align:center;margin-bottom:2em;">Twitter Bot</h1>
<h2>Overview</h2>

<p>
Twitter,XMPP,GAE,GoogleTalk,<a href="http://m-im.googlecode.com/">m-im</a> =&gt; Twitter Anywhere
</p>
<p>
IF YOU DON'T LIKE G.A.E. BE BLOCKED IN CHINA. DO NOT TELL ANYONE ABOUT THIS SITE, JUST USE IT :).<br />
</p>
<p>
<strong>如果你不希望GAE在国内被整体封锁的话，请不要宣传这个网站。偷偷用就行了。</strong>
</p>
<h2>
	Usage 使用方法：
</h2>
<p>
invite|邀请<code style="color:#338000">tw-bot@appspor.com</code>
</p>
<h2>Links</h2>
<p>
<a href="http://yao-blog.appengine.com/">myblog</a>
<a href="http://tw-bot.googlecode.com/">project home</a>
</p>
</body>
</html>

